

<!-- BEGIN PAGE HEADER-->   
            <div class="row-fluid">
               <div class="span12">
                   <!-- BEGIN THEME CUSTOMIZER-->
           <!--
                   <div id="theme-change" class="hidden-phone">
                       <i class="icon-cogs"></i>
                        <span class="settings">
                            <span class="text">Theme:</span>
                            <span class="colors">
                                <span class="color-default" data-style="default"></span>
                                <span class="color-gray" data-style="gray"></span>
                                <span class="color-purple" data-style="purple"></span>
                                <span class="color-navy-blue" data-style="navy-blue"></span>
                            </span>
                        </span>
                   </div> 
           -->
                   <!-- END THEME CUSTOMIZER-->
                  <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                   <h3 class="page-title">
                     Erro
                     <small>página não encontrada</small>
                  </h3>
                   <ul class="breadcrumb">
                       <li>
                           <a href=""><i class="icon-warning-sign"></i></a><span class="divider">&nbsp;</span>
                       </li>
                       <li>
                           <a href="">404 </a> <span class="divider">&nbsp;</span>
                       </li>
                       <li><a href="">Erro na Página</a><span class="divider-last">&nbsp;</span></li>
                   </ul>
                   <!-- END PAGE TITLE & BREADCRUMB-->
               </div>
            </div>
            <!-- END PAGE HEADER-->








            <!-- BEGIN ADVANCED TABLE widget-->
            <div class="row-fluid" >
               <div class="span12">
                   <div class="space20"></div>
                   <div class="space20"></div>
                   <div class="widget-body">
                       <div class="error-page" style="min-height: 800px">
                           <img src="images/404.png" alt="404 error">
                           <h1>
                               <strong>404</strong> <br/>
                               Página Não Encontrada
                           </h1>
                           <p>Lamentamos, mas a página que você estava procurando não existe mais.</p>
                       </div>
                   </div>
               </div>
            </div>

            <!-- END ADVANCED TABLE widget-->
