

<!-- BEGIN PAGE HEADER-->   
            <div class="row-fluid">
               <div class="span12">
                   <!-- BEGIN THEME CUSTOMIZER-->
           <!--
                   <div id="theme-change" class="hidden-phone">
                       <i class="icon-cogs"></i>
                        <span class="settings">
                            <span class="text">Theme:</span>
                            <span class="colors">
                                <span class="color-default" data-style="default"></span>
                                <span class="color-gray" data-style="gray"></span>
                                <span class="color-purple" data-style="purple"></span>
                                <span class="color-navy-blue" data-style="navy-blue"></span>
                            </span>
                        </span>
                   </div>
           -->
                   <!-- END THEME CUSTOMIZER-->
                  <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                   <h3 class="page-title">
                     Menu Principal
                     <small>remyntima web</small>
                  </h3>
                   <ul class="breadcrumb">
                       <li>
                           <a href=""><i class="icon-dashboard"></i></a><span class="divider">&nbsp;</span>
                       </li>
                       <li>
                           <a href="">Menu</a> <span class="divider">&nbsp;</span>
                       </li>
                       <li><a href="">Principal</a><span class="divider-last">&nbsp;</span></li>
                   </ul>
                   <!-- END PAGE TITLE & BREADCRUMB-->
               </div>
            </div>
            <!-- END PAGE HEADER-->








            <!-- BEGIN ADVANCED TABLE widget-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN EXAMPLE TABLE widget-->
                         <div class="square-state">
                        <div class="row-fluid">
                            <a class="icon-btn span2"href="#/grupo">
                                <i class="icon-sitemap"></i>
                                <div>Grupos</div>
                            </a>

                                <a class="icon-btn span2" href="#/unidade">
                                <i class="icon-hdd"></i>
                                <div>Unidade</div>
                                
                                </a>


                                   <a class="icon-btn span2" href="#/listausuarios">
                                <i class="icon-user"></i>
                                <div>Pessoa Acesso</div>
                                
                                </a>



                                   <a class="icon-btn span2" href="#/permissaoperfil">
                                <i class="icon-lock"></i>
                                <div>Permissão Perfil</div>
                                
                                </a>
                          
                           
                           
                        </div>
                      
                    </div>
                    <!-- END EXAMPLE TABLE widget-->
                </div>
            </div>

            <!-- END ADVANCED TABLE widget-->
