
<!-- BEGIN PAGE HEADER-->   
            <div class="row-fluid">
             </br>
			 </br>
			 </br>
			<center>   <h3 class="page-title">
                   Remyntima oferece à você oportunidade de conhecer nossa ferramente online.
                   
                  </h3></center>
			 </br>
			 </br>
            </div>
            <!-- END PAGE HEADER-->
            
 <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
			<div class="span3">
			</div>
               <div class="span6">
                  <div class="widget box blue" id="form_wizard_1">
                     <div class="widget-title">
                        <h4>
                           <i class=" icon-signin"></i>Login
                        </h4>
                     
                     </div>
                     <div class="widget-body form">
                        <form ng-submit="checkLogin()" class="form-horizontal">
                           <div class="form-wizard">
                            
                            
                              <div class="tab-content">
                                 <div class="tab-pane active" id="tab1">
                            
                                    <div class="control-group">
                                       <label class="control-label">Usuário</label>
                                       <div class="controls">
                                          <input ng-model="user.Login" type="text" class="span12" required autofocus/>
                            
                                       </div>
                                    </div>
                                    <div class="control-group">
                                       <label class="control-label">Senha</label>
                                       <div class="controls">
                                          <input ng-model="user.Senha"  type="password" class="span12" required autofocus/>
										  </br>
                                         <span style="color:#f42a2a;" class="help-inline"></span>
                                       </div>
                                    </div>
                                 </div>
                               
                                
                    
                              </div>
							  </br>
                              <div class="text-center">
                                 
                               
                                 <button  type="submit" class="btn btn-primary btn-large hidden-print">
                                 Fazer login 
                                 </button >
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
			   	<div class="span3">
			</div>
            </div>
            <!-- END PAGE CONTENT-->



























