

<!-- BEGIN PAGE HEADER-->   
<div class="row-fluid">
  <div class="span12">
    <!-- BEGIN THEME CUSTOMIZER-->
<!--
<div id="theme-change" class="hidden-phone">
<i class="icon-cogs"></i>
<span class="settings">
<span class="text">Theme:</span>
<span class="colors">
<span class="color-default" data-style="default"></span>
<span class="color-gray" data-style="gray"></span>
<span class="color-purple" data-style="purple"></span>
<span class="color-navy-blue" data-style="navy-blue"></span>
</span>
</span>
</div>
-->
<!-- END THEME CUSTOMIZER-->
<!-- BEGIN PAGE TITLE & BREADCRUMB-->
<h3 class="page-title">
  Grupo
  <small><!--dados dos usuários--></small>
</h3>
<ul class="breadcrumb">
  <li>
    <a href=""><i class="icon-hdd"></i></a><span class="divider">&nbsp;</span>
  </li>
  <li>
    <a href="">Grupo</a> <span class="divider">&nbsp;</span>
  </li>
  <li><a href="">Editar Grupos</a><span class="divider-last">&nbsp;</span></li>
</ul>
<!-- END PAGE TITLE & BREADCRUMB-->
</div>
</div>
<!-- END PAGE HEADER-->
<div class="row-fluid">
  <div class="span6">
    <div class="widget box blue" id="form_wizard_1">
      <div class="widget-title">
        <h4>
          <i class="icon-pencil icon-white"></i> Editar Grupo
        </h4>
        <span class="tools">
          <a href="javascript:;" class="icon-chevron-down"></a>
          <a href="javascript:;" class="icon-remove"></a>
        </span>
      </div>
      <div class="widget-body form">
        <form ng-submit="checkLogin()" class="form-horizontal">
          <div class="form-wizard">


            <div class="tab-content">
              <br>
              <div class="tab-pane active" id="tab1">
                <div class="control-group">
                  <label class="control-label">Descrição:</label>
                  <div class="controls">
                    <input   type="text" class="span10" value="Geral com Unidades" />

                  </div>
                </div>
              
                
                <br>
                <div class="form-actions">
                  <div style="float:right;">
                     <button ng-click="editar_grupo_service()" type="submit" class="btn btn-primary"><i class="icon-refresh icon-white"></i> Atualizar</button>
                    <button ng-click="filtrar_grupo()" type="button" class="btn"><i class=" icon-signout"></i>Sair</button>

                  </div> 




                </div>


              </div>
            </form>
          </div>
        </div>
      </div>

    </div>




