
<!-- BEGIN PAGE HEADER-->   
            <div class="row-fluid">
               <div class="span12">
                   <!-- BEGIN THEME CUSTOMIZER-->
           <!--
                   <div id="theme-change" class="hidden-phone">
                       <i class="icon-cogs"></i>
                        <span class="settings">
                            <span class="text">Theme:</span>
                            <span class="colors">
                                <span class="color-default" data-style="default"></span>
                                <span class="color-gray" data-style="gray"></span>
                                <span class="color-purple" data-style="purple"></span>
                                <span class="color-navy-blue" data-style="navy-blue"></span>
                            </span>
                        </span>
                   </div>
           -->
                   <!-- END THEME CUSTOMIZER-->
                  <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                   <h3 class="page-title">
                     Pessoa Acesso
                     <small>dados dos usuários</small>
                  </h3>
                   <ul class="breadcrumb">
                       <li>
                           <a href=""><i class="icon-user"></i></a><span class="divider">&nbsp;</span>
                       </li>
                       <li>
                           <a href="">Pessoa Acesso</a> <span class="divider">&nbsp;</span>
                       </li>
                       <li><a href="">Editar Pessoa / {{user.Id}}</a><span class="divider-last">&nbsp;</span></li>
                   </ul>
                   <!-- END PAGE TITLE & BREADCRUMB-->
               </div>
            </div>
            <!-- END PAGE HEADER-->








<!--
<div class="container">
  <h1>Detalhe do Usuário</h1>

  <form novalidate="novalidate" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputFirstName">Login:</label>

      <div class="controls">
        <input type="text" id="inputFirstName" ng-model="user.Login"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputLastName">Senha:</label>

      <div class="controls">
        <input type="text" id="inputLastName" ng-model="user.Senha"/>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <a ng-click="cancel()" class="btn btn-small">Voltar</a>
        <a ng-click="updateUser()" class="btn btn-small btn-primary">update user</a>
      </div>
    </div>
  </form>
</div>
-->



      <div class="row-fluid">
      <div class="span10">
      <div class="widget box blue" id="form_wizard_1">
      <div class="widget-title">
      <h4>
      <i class="icon-pencil icon-white"></i> Pessoa Acesso
      </h4>
   
      </div>
      <div class="widget-body form">
      <form ng-submit="updateUser()" class="form-horizontal">
      <div class="form-wizard">
      
      
      <div class="tab-content">
      <br>
      <div class="tab-pane active" id="tab1">
     <div class="control-group">
     <label class="control-label">Nome:</label>
     <!-- <label class="control-label">Passing options in as a hash: {{ woo }}</label> -->
     <div class="controls">
     <input   type="text" class="span5" ng-model="user.Nome" />
     </div>
     </div>
      <div class="control-group">
      <label class="control-label">Login:</label>
      <!-- <label class="control-label">Passing options in as a hash: {{ woo }}</label> -->
      <div class="controls">
      <input   type="text" class="span5" ng-model="user.Login" />
      </div>
      </div>
      <div class="control-group">
      <label class="control-label">Senha:</label>
      <!-- <label class="control-label">Passing options in as a hash: {{ woo }}</label> -->
      <div class="controls">
      <input   type="text" class="span5" ng-model="user.Senha" />
      </div>
      </div>

      <div class="control-group">
      <label class="control-label ">Perfil:</label>
      <!-- <label class="control-label">Passing options in as a hash: {{ woo }}</label> -->
      <div  class="controls">
	 
      <select style="width:280px;"
      ng-model="woo"
      chosen="directiveOptions"
      ng-options="value for value in optionsFromQuery" >
      <option value=""></option>
      </select>
      </div>
      </div>

      <br>
               <br>
               <br>

    
      <div class="form-actions">
      <div style="float:right;">
       <button  type="submit" class="btn btn-primary "><i class="icon-refresh icon-white"></i> Atualizar</button>
      <button ng-click="filtrarpessoa()" type="button" class="btn"><i class=" icon-signout"></i> Sair</button>
      <div>
      </div> 
      </div>
      
      
      
      </div>
      
      
      </div>
      </form>
      </div>
      </div>
      </div>
      
      </div>